<div class="section section-corelation_result">
  <div class="container">
    <div class="section__inner">
      <div class="section__subtitle">
        <p>
          Коефіцієнт кореляції Пірсона звичайних нормованих даних:<%= result.pearsonCoef %>
        </p>
        <p>
          Коефіцієнт кореляції Пірсона швидкості зміни даних:<%= result.speedPearsonCoef %>
        </p>
      </div>
      <div>
        <%- result.plot %>
      </div>
      <div class="section__subtitle">
        <p class="p__bold">
          Пояснення до першої картинки (кореляція нормованих значень):
        </p>
        <p>
          Вісь абсцис - часовий проміжок
        </p>
        <p>
          Вісь оридинат - нормовані дані
        </p>
      </div>
      <div>
        <%- result.speedPlot %>
      </div>
      <div class="section__subtitle">
        <p class="p__bold">
          Пояснення до другої картинки (кореляція зміни нормованих значень):
        </p>
        <p>
          Вісь абсцис - часовий проміжок
        </p>
        <p>
          Вісь оридинат - зміна нормованих даних
        </p>
        <p class="p__bold">
          Пояснення до позначень графіку нормованих величин двох параметрів:
        </p>
        <p>
          Синій графік - <%= getParams.baseTable %>/<%= getParams.baseColumn %>
        </p>
        <p>
          Помаранчевий графік - <%= getParams.corelationTable %>/<%= getParams.corelationColumn %>
        </p>
      </div>
    </div>
  </div>
</div>