<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Головна сторінка</title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/test_modal'); %>
    <%- include('../partials/normalization_modal'); %>
    <%- include('../partials/login'); %>
    <%- include('../partials/registration'); %>
    <div class="wrapper">
      <%- include('../partials/header'); %>
      <main class="main">
        <%- include('../partials/description'); %>
        <%- include('../partials/cards'); %>
        <%- include('../partials/contact_us.ejs'); %>
      </main>
      <%- include('../partials/footer'); %>
    </div>
      <script src="/assets/js/modals.js"></script>
  </body>
</html>
