<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Головна сторінка</title>
    <%- include('../partials/head_test'); %>
  </head>
  <body>
    <%- include('../partials/test_modal'); %>
    <div class="wrapper">
      <%- include('../partials/header'); %>
      <main class="main">
        <%- include('../partials/test_block'); %>
      </main>
      <%- include('../partials/footer'); %>
    </div>
    <script src="/assets/js/modals.js"></script>
  </body>
</html>
